[submodule "gdxms2-cpp/godot-cpp"]
	path = gdxms2-cpp/godot-cpp
	url = https://github.com/godotengine/godot-cpp/
	branch = 4.5
	ignore = all
[submodule "miniscript2"]
	path = miniscript2
	url = https://github.com/JoeStrout/miniscript2
	branch = main
	ignore = all
